.inicio__page2{
    padding-top: 12rem;
    background: rgb(200, 220, 219);
    h1{
        font-size: 3rem;
        text-align: center;
        background: rgb(2, 107, 188);
        color: white;
        margin-bottom: 10rem;
        padding: 1rem;
    }
    h2{
        font-size: 2rem;
        margin: 2rem;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    p{
        padding: 1rem;
        font-size: 1.5rem;
        margin: 2rem;
        background: white;
    }
    h5{
        margin:2rem;
        text-align: center;
        text-decoration:underline;
        padding-bottom: 1rem;
    }
}